<main>
    <section>
        <h2 lyTyp="display1" gutterBottom>Novas Tecnologias em Desenvolvimento Web</h2>
        <div class="container">
            <ly-card style="min-width: auto">
                <ly-card-content>
                    <h2 lyTyp="title" gutterBottom>
                        <span>Uma aplicação WEB usando <span class="red">ANGULAR</span>, na arquitetura MVC para complementar apresentação para a disciplina de <span class="purple">Novas Tecnologias em Desenvolvimento Web</span>, ministrada pelo professor <span class="purple">Marinaldo Oliveira Santos</span>, do curso Tecnólogo em Sistemas para Internet.</span>
                    </h2>
                    <p lyTyp="subheading" class="red">
                        Jeferson Ferreira
                    </p>
                </ly-card-content>
                <ly-card-actions disableActionSpacing class="flex">
                    <button ly-button bg="primary" raised >
                        <a href="http://www.github.com/jeferson0993/" target="_blank">GitHub</a>
                    </button>
                    
                    <button ly-button outlined color="primary">
                        <a href="https://codepen.io/jeferson0993" target="_blank" style="color: #6200EE;">Codepen</a>
                    </button>
                    
                    <button ly-button bg="warn" raised>
                        <a href="https://www.linkedin.com/in/jeferson-ferreira-4a036b143/" target="_blank">Linkedin</a>
                    </button>

                    <button ly-button outlined color="warn">
                        <a href="http://www.jeferson.ml/" target="_blank" class="red">Portifolio</a>
                    </button>
                </ly-card-actions>
            </ly-card>
        </div>
    </section>
</main>