<main>

    <h2 lyTyp="display2" gutterBottom>Empresas</h2>

    <ly-card>
        <ly-card-content>
            <ly-field style="width: 90%;">
                <input lyNativeControl #empresa placeholder="Digite o Nome da empresa:" />
            </ly-field>
            <button ly-button raised bg="primary" (click)="add(empresa.value); empresa.value=''">Cadastrar</button>
        </ly-card-content>
    </ly-card>

    <ly-card *ngFor="let empresa of empresas" class="flex">
        <ly-card-content>
            <h2 lyTyp="title" gutterBottom>{{ empresa.id }} - {{ empresa.razaoSocial }}</h2>
        </ly-card-content>
        <ly-card-actions disableActionSpacing>
            <button ly-button outlined color="primary" routerLink="/empresa-detail/{{empresa.id}}">Editar</button>
            <button ly-button outlined color="warn" title="delete empresa" (click)="delete(empresa)">Excluir</button>
        </ly-card-actions>
    </ly-card>

</main>