<main>
    <div *ngIf="experiencia">
        <div class="container">
            <ly-card>
                <ly-card-content>
                    <h2 lyTyp="display1" gutterBottom>{{experiencia.id}} - {{experiencia.cargo | uppercase}}</h2>
                    <div class="flex">                        
                        <ly-field style="width: 90%;">
                            <input lyNativeControl placeholder="Cargo" [(ngModel)]="experiencia.cargo" >
                        </ly-field>                    
                    </div>
                    <div class="flex">

                        <ly-field>
                            <input lyNativeControl placeholder="Data de início" [(ngModel)]="experiencia.dataEntrada" >
                        </ly-field>                          
    
                        <ly-field>
                            <input lyNativeControl placeholder="Data de saida" [(ngModel)]="experiencia.dataSaida" >
                        </ly-field>

                    </div>
                    <div class="flex">

                        <ly-field>
                            <input lyNativeControl placeholder="Candidato id" [(ngModel)]="experiencia.candidato_id" >
                        </ly-field>

                        <ly-field>
                            <input lyNativeControl placeholder="Funções" [(ngModel)]="experiencia.funcoes" >
                        </ly-field>                        

                    </div>
                </ly-card-content>

                <ly-card-actions disableActionSpacing class="flex" style="justify-content: space-between; margin-top: 5ch;">
                    <button ly-button outlined color="primary" (click)="save()">Salvar</button>
                    <button ly-button outlined color="warn" (click)="goBack()">Cancelar</button>
                </ly-card-actions>

            </ly-card>
        </div>
    </div>
</main>