<div id="candidato-search-component">
  
    <ly-card>
        <ly-card-content style="padding: 2ch;">
            <h2 lyTyp="headline" gutterBottom color="primary">Pesquisar candidatos por nome</h2>
            <ly-field style="width: 100%;">
                <input lyNativeControl #nome placeholder="Digite o nome da candidato para pesquisar:" />
                <button ly-button raised bg="primary" (click)="searchByNome(nome.value); nome.value=''">Pesquisar</button>
            </ly-field>
        </ly-card-content>
    </ly-card>
    
    <ly-card>
        <ly-card-content style="padding: 2ch;">
            <h2 lyTyp="headline" gutterBottom color="primary">Pesquisar candidatos por sexo</h2>
            <ly-field style="width: 100%;">
                <input lyNativeControl #sexo placeholder="Digite a sexo para pesquisar:" />
                <button ly-button raised bg="primary" (click)="searchBySexo(sexo.value); sexo.value=''">Pesquisar</button>
            </ly-field>
        </ly-card-content>
    </ly-card>
    
    <ly-card>
        <ly-card-content style="padding: 2ch;">
            <h2 lyTyp="headline" gutterBottom color="primary">Pesquisar candidatos por estado civil</h2>
            <ly-field style="width: 100%;">
                <input lyNativeControl #estadoCivil placeholder="Digite o estado civil para pesquisar:" />
                <button ly-button raised bg="primary" (click)="searchByEstadoCivil(estadoCivil.value); estadoCivil.value=''">Pesquisar</button>
            </ly-field>
        </ly-card-content>
    </ly-card>
    
    <ly-card>
        <ly-card-content>
            <section *ngIf="candidatos !== null && candidatos !== undefine">
                <h2 lyTyp="display2" gutterBottom>candidatos</h2>
                <div *ngIf="candidatos.length > 1; else elseBlock">
                    <ly-card *ngFor="let candidato of candidatos">
                        <ly-card-content class="flex" style="justify-content: space-between;">
                            <h2 lyTyp="title" gutterBottom>{{ candidato.nome }}</h2>
                            <h5 lyTyp="body1">Sexo: {{candidato.sexo}}</h5>
                            <h5 lyTyp="body1">Estado civil: {{candidato.estadoCivil}}</h5>
                        </ly-card-content>
                    </ly-card>
                </div>

                <ng-template #elseBlock>
                    <div>
                        <ly-card class="flex">

                            <ly-card-content style="width: 80%;">
                                <h2 lyTyp="title" gutterBottom>{{ candidatos.nome }}</h2>
                                <h5 lyTyp="body1">Sexo: {{candidatos.sexo}}</h5>
                                <h5 lyTyp="body1">Estado civil: {{candidatos.estadoCivil}}</h5>
                            </ly-card-content>

                        </ly-card>
                    </div>
                </ng-template>
            </section>
        </ly-card-content>
    </ly-card>
</div>